<h1>All the Clips</h1>
<% @clips.alpha.each do |clip| %>
<div class="well">
<h3><%= clip.title %></h3>
<p><%= clip.url %> </p>
<p><%= clip.streamer_id %> </p>
<%= link_to "Watch", clip_path(clip), :class => 'btn btn-default' %>
</div>
<% end %>
